{{!-- --}}
    {{#each posts as |post|}}
    <a href="dashboard/edit/{{post.id}}">
        <div class="btn flex-row justify-space-between">
            <p class="card-body">{{post.title}}</p>
            <p class="card-body">{{post.formattedDate}}</p>
        </div>
    </a>
    {{/each}}