<div class="card">
    <h2 class="card-header">Login Page</h2>
    <div id="#new-post-form" class="card-body">
        <form id="login-form">
        <label for="username-input-login">Username</label>
        <input id="username-input-login" name="username-input-login" type="text" class="form-input">
        <label for="password-input-login">Password</label>
        <input id="password-input-login" name="password-input-login" class="form-input" type="password">
        <input type="submit" class="btn">
        </form>
    </div>
</div>
<script src="/js/login.js"></script>