<div class="card">
    <h2 class="card-header">Add a Post</h2>
    <div class="card-body">
        <form id="new-post-form">
            <label for="post-title" class="form-label">Post Title</label>
            <input name="post-title" type="text" class="form-input">
            <label for="post-body" class="form-label">Write Your Post</label>
            <textarea name="post-body" type="text" class="form-input" rows="3"></textarea>
            <input label="jeff" type="submit" class="btn">
        </form>
    </div>
</div>
<script src="/js/new.js"></script>