<div class="card">
    <h2 class="card-header">Signup Page</h2>
    <div class="card-body">
        <form id="signup-form">
        <label for="username-input-signup">Username</label>
        <input id="username-input-signup" name="username-input-signup" type="text" class="form-input">
        <label for="password-input-signup">Password</label>
        <input id="password-input-signup" name="password-input-signup" class="form-input" type="password">
        <input type="submit" class="btn">
        </form>
        <a class="nav-item" aria-current="page" href="/login">Go to Login Instead</a>
    </div>
</div>
<script src="/js/signup.js"></script>